.brand-text {
  font-size: 20px;
}

.padding {
  padding: 10px;
}

.column-title {
  font-size: 24px;
}

.report {
  font-size: 18px;
  text-align: center;
  transition: all 100ms ease;
}

.report span {
  background: #f4fbff;
  color: #2f80ed;
  padding: 2px;
  border-radius: 5px;
  margin: 5px;
}

.report span:hover {
  cursor: pointer;
}

.mapPointer {
  width: 20px;
  height: 20px;
  left: -10px;
  top: -10px;

  border: 5px solid white;
  border-radius: 20px;
  background-color: red;
  text-align: center;
  color: #3f51b5;
  font-size: 16;
  font-weight: bold;
  padding: 4;
}

.miniModal {
  background-color: black;
  opacity: .5;
  width: 80px;
  height: 40px;
  text-align:center;
}

.noDisplay {
  display: none;
}

.absPos {
  position:absolute;
}
